
body {
    align: center;  /* Zentrierung im Internet Explorer */
    /* margin-bottom: 120px; */ 
     width: 100%;
     height: 100%;
     /* overflow: auto; */
     position: absolute;
     background-attachment: fixed;
     background-repeat: repeat-x;
  }
  


h3{
	font-size: 120%;
	font-weight: bold;
	font-family: Arial Unicode MS, Arial, sans-serif;
	color: #9997a8;
	padding-bottom: 0.5em;
	margin-top: 0px;
	
}

.fahrtenbuch-menubutton {
	font-size: 100%;
	font-weight: bold;
	width: 15em;
	margin-bottom: 6em;
	background: #3675aa;
}



.menubar-panel{
	background-color: #02497a;
}



.hinzufuegen-button {
	margin-top: 30px;
    margin-bottom: 20px;
   	margin-right: 10px;
    margin-left: 10px;
}

.welcome-label {
	font-size: 200%;
	font-weight: bold;
  	font-family: Arial Unicode MS, Arial, sans-serif;
	color:  #db0104;
 	text-align: center;
}

.welcome-label2 {
	font-size: 150%;
	font-weight: bold;
  	font-family: Arial Unicode MS, Arial, sans-serif;
 	text-align: center;
}

.fahrtenbuch-label {
	font-size: 120%;
	font-weight: bold;
	font-family: Arial Unicode MS, Arial, sans-serif;
	/* font-style: italic; */
	color: #c9cfd3;
	padding-bottom: 0.5em;
	margin-top: 30px; 
}

.fahrtenbuch-infolabel {
	font-size: 100%;
	/*font-weight: bold;/*
	/* font-style: italic; */
	color: #1524db;
	padding-bottom: 0.5em;
}

.TableHeader {
  background-color: #072a42;
  color: black;
}
 
.FlexTable {
  border: 3px solid #072a42;
  padding: 2px;
  margin-right: 150px; 
  margin-bottom: 5px;
  overflow: scroll;
}

.red_label {
    color: red;
    font-size: 8pt;
    overflow: hidden;
}

.grey_label {
    color: grey;
    font-size: 8pt;
    overflow: hidden;
}

